---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

import Bubble from "@/components/ui/Bubble.astro";

const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title" set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {
          button.enable && (
            <a class="btn btn-white mt-8" href={button.link}>
              {button.label}
            </a>
          )
        }
      </div>
      <div class="mt-4 lg:col-6">
        <Image
          class="w-full object-contain"
          alt="banner"
          src={image}
          width={603}
          height={396}
        />
      </div>
    </div>
  </div>

  <!-- <Bubble
    class="absolute -z-[100] -top-[250px] right-0"
    childrenClass="before:w-[496px] before:h-[466px]"
  /> -->
</section>
