---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import HomapageFeature from "@/layouts/function-components/HomapageFeature";

import Bubble from "@/components/ui/Bubble.astro";

const { key_features } = Astro.props;
const { title, description, feature_list } = key_features;

import { AiFillCheckCircle } from "react-icons/ai";
---

<section id="features" class="section key-feature relative scroll-mt-24">
  <Bubble
    class="absolute -z-[100] top-0 left-0"
    childrenClass="before:w-[80px] before:h-[80px]"
  />
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2>{title}</h2>
        <p class="mt-4">{description}</p>
      </div>
    </div>
    {
      feature_list.map((item: any, index: number) => (
        <div class="gx-5 row mt-16 items-center first:mt-12">
          <div
            class={`lg:col-7 ${
              index % 2 === 0 ? "lg:order-1" : "lg:order-0"
            }`}
          >
            <div class="relative">
              <Image
                class="w-full object-contain"
                alt="service"
                width={473}
                height={286}
                src={item.image}
              />
            </div>
          </div>
          <div
            class={`mt-6 lg:col-5 lg:mt-0 ${
              index % 2 === 0 ? "lg:order-0" : "lg:order-1"
            }`}
          >
            <div class="text-container">
              <h2 class="lg:text-4xl">{item.title}</h2>

              <ul class="mt-6 text-dark lg:-ml-4">
                {item.list.map((list: any) => (
                  <li class="mb-2 flex items-center rounded px-4">
                    <AiFillCheckCircle className="mr-3 fill-primary text-white" />
                    {list}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
