---
import { Image } from "astro:assets";

import Bubble from "@/components/ui/Bubble.astro";

const { key_features } = Astro.props;
const { title, description, feature_list } = key_features;
---

<section id="features" class="section key-feature relative scroll-mt-24">
  <Bubble
    class="absolute -z-[100] top-0 left-0"
    childrenClass="before:w-[80px] before:h-[80px]"
  />
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2 class="text-3xl md:text-5xl font-bold">{title}</h2>
        <p class="mt-4">{description}</p>
      </div>
    </div>

    <ul class="flex justify-between tablet:gap-14">
      <li class="w-full list-none">
        <ul class="flex justify-between tablet:gap-14 mt-10">
          <li class="w-full list-none">
            <ul class={`grid gap-11 tablet:gap-14 ${
              feature_list.length === 1 ? 'grid-cols-1' :
              feature_list.length === 2 ? 'sm:grid-cols-2' :
              feature_list.length === 3 ? 'sm:grid-cols-3' :
              'sm:grid-cols-4'
            } grid-cols-1`}>
              {
                feature_list.map((item: any, index: number) => (
                  <li class="list-none">
                    <div class="grid gap-3.5">
                      <Image
                        class="w-full"
                        alt="service"
                        width={473}
                        height={286}
                        src={item.image}
                      />
                    </div>
                    <p class="text-lg font-bold text-dark mt-2">{item.title}</p>

                    <ul class="mt-6 text-dark lg:-ml-4">
                      {item.list.map((list: any) => (
                        <li class="mb-2 flex items-center rounded px-4">
                          {list}
                        </li>
                      ))}
                    </ul>
                  </li>
                ))
              }
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
