---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { AiFillCheckCircle } from "react-icons/ai";
import { Image } from "astro:assets";
const { service } = Astro.props;
const { title, description, service_list } = service;
import { ServiceIcons } from './ServiceIcons';
---

<section id="service" class="section services scroll-mt-24">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-8">
        <h2>{title}</h2>
        <p class="mt-4">{description}</p>
      </div>
    </div>
    <div class="row mt-14 text-center">
      {
        service_list.map((item: any, index: number) => (
          <div class="mb-10 sm:col-6 lg:col-4">
            <div class="relative">
              <span class="benifit-icon absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-[28%]">
                <ServiceIcons item={item} />
              </span>
            </div>
            <h3 class="h4 mb-4 mt-8">{item.title}</h3>
            <p>{item.content}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
